<a href="https://colab.research.google.com/github/P4CSS/PSS/blob/master/P02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P02 Python Basic

* [Slide: Py02 Basic](https://docs.google.com/presentation/d/e/2PACX-1vSlofAj4mFI_gXntfgMTelq-9qKHj1XE6-36DI87vGoKdyW9vaF-jeJzZqGIT7d-kknaQQc4M4DfROx/pub?start=false&loop=false&delayms=3000)
* [Github repo: P4CSS/PSS](https://github.com/P4CSS/PSS)

## Outline

1. Print and print format
2. Variables and variable types
3. Arithemetic operations
4. Example: Converting temperature format

## print

語法是`print()`。
1. 可用於印出字串、數字、以及變數的內容。
2. 若是一個變數的話，會印出變數的內容；
3. 若是一個「運算式」的話，會印出運算式的結果。

### 印出字串
以下兩者是相同的，但不可以交錯使用，例如`print('hello world")`會產生Error。

In [1]:
print("hello world")
print('hello world')

hello world
hello world

如果要印出雙引號，外部需要加上單引號；反之亦然。

In [1]:
print("'hello world'")
print('"hello world"')

'hello world'
"hello world"

### 列印計算式

可以直接列印運算的結果，甚至像是`"-"`這種文字型態資料的也可以運算，`"-"*20`的意思是該符號重複20次。

In [6]:
print(1+2+4+5)
print("-"*20)
print((3-1)*4+5)
print(123*345-(188*123))

12
--------------------
13
19311

### Print multiple terms
「`,`」在`print()`中可列印數個變數或值。可以把它想像成「接下去印」的意思。

In [8]:
a, b, c = 1, 2, 3
print(a, b, b)
print("33", 4, c*2)

1 2 2
33 4 6

### Print tab and newline

在程式語言中，`\t`代表一個tab，`\n`代表使用者敲Enter下去時所產生的換行符號（Newline）。這些也可以用`print()`列印出來。通常要列印`\t`或`\n`是為了使得印出更容易閱讀。

In [17]:
a, b, c = 5, 2, 3
print("a+b = ", "\t", a+b)
print("a*b = ", "\t", a*b)
print("a/b = ", "\t", a/b)
print("a%b = ", "\t", a%b)
print("a**b = ", "\t", a**b)

a+b =  	 7
a*b =  	 10
a/b =  	 2.5
a%b =  	 1
a**b =  	 25

## Comments

註解（Comments）是用來讓別人或自己後續還可以看得懂自己的程式碼的。優秀的程式設計師會把註解寫得很清楚，以利團隊合作。只要是`#`開頭的程式碼便是註解，都不會被程式所執行。

In [10]:
# print("123")
print("This is not a comment")

This is not a comment

## Variable

### Assignment  =

**自右而左的Assignment：**在幾乎所有的程式語言中，`=`的記號均為assignment，意是把右方演算的結果，Assign（指）給左方的變數。`=`符號左方幾乎都是變數。且右方的資料如果是整數，Assign給左方時，左方就是個整數；如果右方資料是文字字串，Assign給左方變數，左方變數便是文字字串。

**那「等於」的符號是什麼？**如果想要在程式語言中表達「相等」，通常是連續兩個等號`==`，例如`1/2 == 4/2`，為邏輯運算式，邏輯運算的結果會得到`true`或`false`。

在Python中最特別的是，Assignment的使用可以多對多，例如`a, b = 1, 2`

### Naming of variables

* 不可用數字開始，例如`123b = 13a + 14b`。當然也不可以是中文。
* 中間不得有空白，例如`my book = 13a + 14b` (why?)
* 不可使用保留字（[reserved word](https://docs.python.org/2.5/ref/keywords.html)）(why?) 。因為這些保留字都是程式碼的基本語法，如果把它們拿來當變數，你的程式編輯器怎麼看得懂，這到底是一個指令，還是一個變數呢？基本保留字有這些。
    ```
    and       del       from      not       while    
    as        elif      global    or        with     
    assert    else      if        pass      yield    
    break     except    import    print              
    class     exec      in        raise              
    continue  finally   is        return             
    def       for       lambda    try
    ```
* 關於Python程式寫作的風格，可參考[PEP 0008](https://www.python.org/dev/peps/pep-0008/)，其中，[Naming conventions](https://www.python.org/dev/peps/pep-0008/#naming-conventions)一節有提到變數要如何命名。
    * 若全部是大寫的，多半是常數，例如最大寬度、PI的值。
    * 若是底線開頭的，應該是區域變數（Local variable，你還不用知道）

以下這些都是合法的（參考自[W3School: Python Varialbe Names](https://www.w3schools.com/python/python_variables_names.asp)）

In [18]:
myvar = "Hsieh"
my_var = "Hsieh"
_my_var = "Hsieh"
myVar = "Hsieh"
MYVAR = "Hsieh"
myvar2 = "Hsieh"

以下這些都是不合法的變數名稱，(1) 不可以是數字開頭，(2)中間可以有`_`但不可以有`-`，(3)不可以有空白，不然程式不知道，這是兩個字還是一個字，(4)不可以有dot（但R是允許有dot的）

In [19]:
2myvar = "Hsieh" # cannot start with number
my-var = "Hsieh" # cannot have dash
my var = "Hsieh" # cannot have space
my.var = "Hsieh" # cannot have dot

SyntaxError: invalid syntax (3828854825.py, line 1)

### Data types

`list`, `dictionary`是python這個程式語言的內建資料型態。請參閱[5. Built-in Types](https://docs.python.org/2/library/stdtypes.html)。常見的資料型態共有以下幾種

* **(1)真／偽（True/False）**: 如果`a=3`，然後用等號測試變數`a`是否等於3時，`a==3`的結果即會傳回`True`。
* **(2)數值（Numeric Types）**：包含 `int`(整數), `float`(有小數點的), long, complex
    * 非整數的小數（floating point number）: e.g., `b = 12.3`
    * 整數（integer）: e.g., `c = 123`
* **(3)字串（string）**: e.g., `a = '12.3'`，用成對的雙引號或單引號括起來的為文字。例如`"test"`和`'test'`其實是相同的，只是用單引號或雙引號而已，但不可以交錯使用。
---
* **(4)序列（Sequence Types）**
    * list: `alist = []`
    * tuple: `ab = (1, 2, 3)`
    * 文字字串（`str`）也是一種序列型態
* **(5)集合（Set Types）**： `set`, frozenset
* **(6)對應（Mapping Types）**： `dict`。例如`bdict = {5:2, '5':6, 12:[13, 14], 13:{14:'15', '16':[17]}}`
* **(7)檔案（File Objects）**

在下例中的`bdict`，整數`5`和字串`'5'`分別對應到兩個不同的數值，可見是字串或文字是不可混淆的。除此之外，數字可以拿來相除，字串是不能拿來相除的。

In [39]:
print(True, False, 4/2==2, 5/2==2.5)
bdict = {5:2, '5':6, 12:[13, 14], 13:{14:'15', '16':[17]}}
print(bdict)
print(bdict[12])
print(bdict['5'])
print(bdict[5])

True False True True
{5: 2, '5': 6, 12: [13, 14], 13: {14: '15', '16': [17]}}
[13, 14]
6
2

In [40]:
print("test"=='test')
print("5"==5) 
a, b, c = '2', 2, 2.0
print("if '2'==2?", a==b)
print("if 2==2.0?", b==c)

True
False
if '2'==2? False
if 2==2.0? True

### Assignment also creates data type
變數使用Assignment（指派）來讓程式知道該變數的變數型態為何。右側的運算必然會產生一個某種變數型態的值，當把這樣的變數型態assign給左側的變數時，左側的變數便會自動被設定為該型態。注意！一定是把右方的內容（右方可能是數值也可能是變數）指定給左方的變數。

下例把`a = 2`，那麼`a`就是整數的`2`；若是`a = 2.0`，那麼`a`就會是浮點數（floating point，也就是有小數點的）的`a`。

In [35]:
a = 2 # integer
b = 3.0 # floating point number
c = '1.123' # string
d = "2" # string

#### Using `type()` to check data type

承上節，因為在Python中，Assignment後會自動將「=」右方的變數型態Assign給左方的變數，我們可以用`type()`函式來得知某個變數的變數型態。

In [45]:
x, y = '1.1', "1.1" # string
print(type(x), type(y))
print(type(x==y))
print(type(5/2))
print(type(4/2))

# check the type of d, e
z, w = [], {}
print(type(z))
print(type(w))

<class 'str'> <class 'str'>
<class 'bool'>
<class 'float'>
<class 'float'>
<class 'list'>
<class 'dict'>

### Converting data type

* 變數可以用`int()`、`float()`和`str()`在彼此間轉換（左側為最常用的三個）。
* 但要注意的是，`float()`相當於是有小數點的數字，若被`int()`強制轉換，會伴隨精確度的流失。例如`a = int(2.3)`會只剩下`2`，且沒辦法復原。
* 如果將`integer`乘上`float`的話，整個變數會變成`float`。如下面的例子中，type將會是`float`。

```
a = 3
print(type(a * 3.0))
```

In [53]:
# convert a to integer, then assign to b
print(2.3, '\t', "type(2.3):", type(2.3))
print(int(2.3), '\t', 'type(int(2.3)):', type(int(2.3)))
print(str(2.3), '\t', 'type(str(2.3)):', type(str(2.3)))
      
a = 3
print(a, type(a))
print(a*3.0, type(a*3.0))

2.3 	 type(2.3): <class 'float'>
2 	 type(int(2.3)): <class 'int'>
2.3 	 type(str(2.3)): <class 'str'>
3 <class 'int'>
9.0 <class 'float'>

### Printing with variables

在列印輸出時，有時候我們會希望在前後多印出一些字串來說明印出來的那個結果是什麼。此時要用print formatting[String print formatting](https://docs.python.org/2/library/string.html)。以`print("my name is %s, age %s"%(name, 36.1234567))`為例，其表示要將後面那兩個變數或者數值的內容，放到前面兩個`%s`的位置，且`%s`是表示，要用字串來輸出。
* `%d` means printing as decimal number
* `%s` means printing as string
* `%f` means print as floating point number

**參考資料：**可以參考這篇[PyFormat](https://pyformat.info/)來了解`%d`和`.format()`另外一種print formatting的寫法。也可參考以下網址的內容：https://docs.python.org/3/tutorial/inputoutput.html

#### 輸出範例（Python2.x style）

在下面的例子中，`age`一開始就經過Assignment成為浮點數（有小數點的）型態的變數，根據控制符號的不同，會有以下差別：
1. 用`%f`當成浮點數來輸出的話，會輸出`42.00000`
2. 用`%s`當成字串來輸出的話，會輸出`42.0`，其實只要是印出來的都是字串，所以印成字串，原本長怎樣就會輸出怎樣。
3. 用`%d`當成整數來輸出的話，就會輸出成整數的樣子`42`
4. `%10s`的意思代表留10格，但靠右輸出，`%-10s`的意思代表留10格，靠左輸出。
5. `%10.3f`代表留10格，浮點數打到小數第三位。

In [80]:
name = "HSIEH"
age = 42.0
print("Your name is", name, "! Your age is", age, "!")
print("Your name is %s ! Your age is %f! "%(name, age))
print("Your name is %s ! Your age is %s! "%(name, age))
print("Your name is %s ! Your age is %d! "%(name, age))
print("Your name is %10s and age %10s"%(name, age))
print("Your name is %-10s and age %-10s"%(name, age))
print("Your name is %s ! Your age is %10.3f! "%(name, age))

Your name is HSIEH ! Your age is 42.0 !
Your name is HSIEH ! Your age is 42.000000!
Your name is HSIEH ! Your age is 42.0!
Your name is HSIEH ! Your age is 42!
Your name is      HSIEH and age       42.0
Your name is HSIEH      and age 42.0
Your name is HSIEH ! Your age is     42.000!

#### 輸出範例（Python3.x style）

以下是Python3.x的寫法，但兩種同時都可以使用。

In [81]:
name = "HSIEH"
age = 42.0
print("Your name is {} ! Your age is {}".format(name, age))
print(f"Your name is {name} and age {age}")
print("Your name is {:10} and age {:10}".format(name, age))
print(f"Your name is {name:10} and age {age:10}")

Your name is HSIEH ! Your age is 42.0
Your name is HSIEH and age 42.0
Your name is HSIEH      and age       42.0
Your name is HSIEH      and age       42.0

為什麼要有這麼複雜的格式化輸出，是為了讓輸出可以整齊好看，例如以下的例子。

In [85]:
table = {'Sjoerd': 41273, 'Jack': 409, 'Dcab': 7678}
for name, id in table.items():
    print(f'{name:10} ==> {id:10d}')

Sjoerd     ==>      41273
Jack       ==>        409
Dcab       ==>       7678

**常見錯誤一**：前面字串中所預留的位置和後面所欲帶入的變數／數值數量若不相同會怎樣？例如下面這個例子中，後面的arguments只有一個，前面則有兩個formatted slot。

In [ ]:
print("Your name is %s ! You age is %s"%('jilung'))

TypeError: not enough arguments for format string

**常見錯誤二**：而下面這個是少一個formatted slot，後面有兩個變數，前面僅有一個`%s`。

In [ ]:
print("Your name is ! Your age is %s! "%(name, age))

TypeError: not all arguments converted during string formatting

## Arithemetic operations +, -, *, **, /, %

四則運算的計算方式和普遍數學的運算相同，由左而右，括號內先做，先乘除後加減。

* `**` - "power of."
* `%` - "mod" e.g., `5%3==2`, `4%2==0`.
* `/` - "divide" varied by data type of numberator and denominator

In [87]:
a, b = 10, 3

# print a and b
print("a = %d, b = %d"%(a, b))

# print the result of a/b and a%b
print("a/b=", a/b, "a/b=", a%b)

# print a/b and a%b but formatted to integer
print("a/b=%d, a%%b=%d"%(a/b, a%b))

# print a/b and a%b but formatted to float
print("a/b=%f, a%%b=%f"%(a/b, a%b))


# a divided by float(b)
print(a/float(b))

# b divides float(a)
print(float(a)/b)

# print ((a+b)**2+(a-b)**2)/float(a**2+b**2) and it result
print("((a+b)**2+(a-b)**2)/float(a**2+b**2) = ", ((a+b)**2+(a-b)**2)/float(a**2+b**2))

a = 10, b = 3
a/b= 3.3333333333333335 a/b= 1
a/b=3, a%b=1
a/b=3.333333, a%b=1.000000
3.3333333333333335
3.3333333333333335
((a+b)**2+(a-b)**2)/float(a**2+b**2) =  2.0

**字串除以數字**：如果把字串除以整數的話會產生什麼樣的情形？字串是沒辦法除以整數的，因為沒有意義，所以會產生*TypeError*。

In [86]:
print(str(a)/b)
# TypeError: unsupported operand type(s) for /: 'str' and 'int'

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Practice. Converting Temperature format

攝氏tc溫度等於華氏tf溫度-32後乘以5/9。

In [89]:
tf = 50
tc = (tf-32)*5/9
print(tc)

10.0

In [99]:
for tf in range(1, 101):
    tc = (tf-32)*5/9
    print(f'{tf:5} ==> {tc:-8.2f}')

    1 ==>   -17.22
    2 ==>   -16.67
    3 ==>   -16.11
    4 ==>   -15.56
    5 ==>   -15.00
    6 ==>   -14.44
    7 ==>   -13.89
    8 ==>   -13.33
    9 ==>   -12.78
   10 ==>   -12.22
   11 ==>   -11.67
   12 ==>   -11.11
   13 ==>   -10.56
   14 ==>   -10.00
   15 ==>    -9.44
   16 ==>    -8.89
   17 ==>    -8.33
   18 ==>    -7.78
   19 ==>    -7.22
   20 ==>    -6.67
   21 ==>    -6.11
   22 ==>    -5.56
   23 ==>    -5.00
   24 ==>    -4.44
   25 ==>    -3.89
   26 ==>    -3.33
   27 ==>    -2.78
   28 ==>    -2.22
   29 ==>    -1.67
   30 ==>    -1.11
   31 ==>    -0.56
   32 ==>     0.00
   33 ==>     0.56
   34 ==>     1.11
   35 ==>     1.67
   36 ==>     2.22
   37 ==>     2.78
   38 ==>     3.33
   39 ==>     3.89
   40 ==>     4.44
   41 ==>     5.00
   42 ==>     5.56
   43 ==>     6.11
   44 ==>     6.67
   45 ==>     7.22
   46 ==>     7.78
   47 ==>     8.33
   48 ==>     8.89
   49 ==>     9.44
   50 ==>    10.00
   51 ==>    10.56
   52 ==>    11.11
   53 ==>    11.67
   54 ==>    12.22
   55 ==>    12.78
   56 ==>    13.33
   57 ==>    13.89
   58 ==>    14.44
   59 ==>    15.00
   60 ==>    15.56
   61 ==>    16.11
   62 ==>    16.67
   63 ==>    17.22
   64 ==>    17.78
   65 ==>    18.33
   66 ==>    18.89
   67 ==>    19.44
   68 ==>    20.00
   69 ==>    20.56
   70 ==>    21.11
   71 ==>    21.67
   72 ==>    22.22
   73 ==>    22.78
   74 ==>    23.33
   75 ==>    23.89
   76 ==>    24.44
   77 ==>    25.00
   78 ==>    25.56
   79 ==>    26.11
   80 ==>    26.67
   81 ==>    27.22
   82 ==>    27.78
   83 ==>    28.33
   84 ==>    28.89
   85 ==>    29.44
   86 ==>    30.00
   87 ==>    30.56
   88 ==>    31.11
   89 ==>    31.67
   90 ==>    32.22
   91 ==>    32.78
   92 ==>    33.33
   93 ==>    33.89
   94 ==>    34.44
   95 ==>    35.00
   96 ==>    35.56
   97 ==>    36.11
   98 ==>    36.67
   99 ==>    37.22
  100 ==>    37.78